@media (max-width: 900px) {
  .word-break-badge {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .word-break-badge {
    max-width: 100px;
  }
}
