:root {
  --main-color: #63b9c1;
}

body {
  font-family: "Montserrat", sans-serif;
}
button.btn {
  background: var(--main-color);
  border-color: var(--main-color);
}
button.btn:hover,
button.btn:active,
button.btn:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #1f8996;
  border-color: #1f8996;
}
a,
a:hover {
  color: var(--main-color);
}
.page-item.active .page-link {
  background-color: #1f8996;
}
.page-link {
  color: var(--main-color);
}
